@page "/QrCodeScanner"
<PageTitle>QrCodeScanner</PageTitle>

<h1>QR Code Scanner</h1>

This demo only shows that a camera can be accessed through a Blazor PWA.

Camera should open straight away.

<br />
<input type="file" accept="image/*" capture>
<br />
<br />

Users can select from galery or capture
<br />
<input type="file" accept="image/*">

@code {
    
}